div {
  border: 1px dotted #f00;
  color:#fff;
}

.footer {
	background-color: #585957;
	height: 180px;
}

.middle {
	height: 500px;
/*	background-image: url("./assets/background.jpg");
	background-repeat: repeat-y;
	background-size: 100%;*/
}

#app {

	background-repeat: repeat-y;
}

#header {
	position: relative;
}

#header-content {
	position: absolute;
	bottom: 0;
}

* {
  color: black;
  background-color: #FFFFFF;
}

